.typewriter {
    width: 400px;
    display: flex;
    background-image: linear-gradient(193deg, #313960 0%, #11152b 100%);
    box-shadow: 0 0 0 0 #ffffff;
    padding: 30px;
}

.code_selector {
    color: #ec91ff
}

.code_braces, .code_property {
    color: #edf2f5;
    text-transform: capitalize;
}

.code_value {
    color: #73d9ff;
    text-transform: capitalize;
}

.lr-box1, .lr-box2 {
    margin: 24px;
}

.lr-box1 {

}

.lr-box2 {
    position: relative;
    left: 15%;
}