.TableCtn {
    height: 100%;
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
}


.TableHead {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 7%;
}

.TableHead div {
    flex: 1;
    border: 1px solid white;
    color: white;
    text-align: center;
}

.TableHead div:first-child {
    border-top-left-radius: 5px;
}

.TableHead div:last-child {
    border-top-right-radius: 5px;
}

.TableBody {
    height: 93%;
    display: flex;
    flex-flow: column nowrap;
}

.Week {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
}

.Week:last-child .Day:first-child {
    border-bottom-left-radius: 5px;
}

.Week:last-child .Day:last-child {
    border-bottom-right-radius: 5px;
}

.Day {
    flex: 1;
    border: 1px solid white;
}