@import "fonts.css";
@import "colors.css";

:root {
    --nav-height: 80px;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--main-bg-color);
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: var(--nav-height) 5rem 5rem;
    margin: 0;
}

main > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}