@import "fonts.css";
@import "colors.css";

body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--main-bg-color);
}

.App {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
}

main > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}