@import "fonts.css";

h1 {
    font-family: 'Barlow', sans-serif;
}

.App {
    height: 100%;
    width: 100%;
    background-color: #253030;
    display: flex;
    flex-flow: row nowrap;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
}
main > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}